@import '@/styles/globals.scss';

.ksql-stream-details {
  font-family: sans-serif;
  position: relative;
  min-height: 100vh;
  color: var(--text-color-black);

  .MuiButtonBase-root {
    color: var(--text-color-black);
  }

  .MuiPaper-root {
    background-color: var(--table-body-color) !important;
    color: var(--text-color-black);
  }

  .overplay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  th {
    color: var(--text-color-black);
  }

  thead {
    background-color: var(--table-head-color);
  }

  td {
    color: var(--text-color-black);
  }

  .stream-metadata-card {}

  .stream-description-card {

    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    tr:nth-child(even) {
      background-color: var(--table-odd-row-color);
    }

    tbody {
      scrollbar-width: thin;
      scrollbar-color: var(--table-body-color) transparent;
      max-height: 50vh;
      overflow-y: auto;
      display: block;
      width: 100%;
    }
  }

  .stream-queries-card {
    pre {
      max-height: 30vh;
      overflow: auto;
      scrollbar-width: thin;
      scrollbar-color: #ccc transparent;

      code {
        background: inherit;
      }
    }
  }
}