@import '../../styles/globals.scss';

.MuiListItem-root {
  &:hover {
    background-color: var(--bg-color-hover);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

.MuiTypography-root {
  font-family: monospace !important;
}

.divider {
  background-color: var(--boder-color);
  margin: 0 0 20px 0!important;
}