@import '../../styles/globals.scss';

.MuiListItem-root {
  &:hover {
    background-color: var(--bg-color-hover);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

.MuiTypography-root {
  font-family: monospace !important;
}