.nav-icon {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  font-size: 18px;
  position: relative;

  .nav-icon-button {
    position: absolute;
    right: -15px;
    bottom: -15px;
    background-color: var(--bg-color);
    color: black;
    z-index: 999;
    border: 1px solid var(--boder-color);
  }

  .nav-icon-link {
    display: block;
    height: fit-content;
    margin: auto;
    overflow: hidden;

    .nav-icon-logo-big {
      width: 150px;
      transition: width 0.5s ease;
    }
  }


  .nav-icon-logo-small {
    width: 130px;
    transition: width 0.3s ease;
    margin-left: -5px;
  }


  .MuiTouchRipple-root {
    width: 0;
  }

  .MuiButtonBase-root {
    padding: 3px;

    &:hover {
      background-color: #629ede;
    }
  }

  .MuiSvgIcon-root {
    z-index: 999;
  }
}

.MuiPaper-root {
  border-color: var(--boder-color) !important;
}