@import '@/styles/globals';


.toggleButton {
  padding: 0.5rem 1rem;
  background: var(--bg-color);
  color: var(--text-color-black);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 100%;

  &:hover {
    // background: darken(var(--background-1), 10%);
  }
}