@import '@/styles/globals';

$blue: #351C57;

.container {
  display: flex;
  width: 100%;

  .left-block {
    height: 100vh;
    background-color: var(--bg-color);
    color: white;
    position: relative;
    overflow: visible;

    svg {
      color: var(--text-color-black);
    }

    .MuiPaper-root {
      background-color: var(--bg-color);
      color: var(--text-color-black);
      overflow: visible;
    }

    .MuiListItem-root {
      margin-bottom: 10px;
    }
  }

  .right-block {
    flex: 1;
    min-height: 90vh;
    padding: 10px;
    background-color: var(--bg-color);
    min-width: 0;
  }
}