@import '@/styles/globals.scss';

.history-container {
  position: relative;
  font-family: sans-serif;
  color: var(--text-color-black);

  .header-history {
    margin: 20px 0;
  }

  .alert {
    width: 200px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: opacity 0.3s ease-in-out;
  }

  .history-item {
    padding: 12px;
    border: 0.5px solid var(--bg-color-hover);
    border-radius: 6px;
    cursor: pointer;
    background: var(--bg-card);
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;

    pre {
      background: inherit;
      max-height: 100px;
      overflow: auto;
      width: 100%;
      scrollbar-width: thin;
      scrollbar-color: #ccc transparent;

      code {
        background: inherit;
      }
    }

    &:hover {
      background: var(--bg-color-hover);
    }

    &:active {
      background: #e0e1e3;
    }

    .history-item-actions {
      display: flex;
      gap: 8px;
    }
  }
}

.hljs-string,
.hljs-section,
.hljs-selector-class,
.hljs-template-variable,
.hljs-deletion {
  color: red;
}

.history-container .history-item .hljs-string {
  color: var(--text-color-black);
}

.history-container .history-item pre code {
  color: var(--text-color-black);
}