$blue: #351C57;

@import '@/styles/globals.scss';

.ksql-properties {
  position: relative;
  width: 100%;
  background: white;

  table {
    max-width: 500px;
  }

  table,
  thead,
  tbody,
  tr {
    width: 100%;
    border-collapse: collapse;
  }

  tr:nth-child(odd) {
    background-color: var(--bg-color-selected);
  }

  th {
    padding: 8px;
    position: sticky;
    top: 0;
    background-color: $blue;
    z-index: 1;
    width: 100%;
    color: white;
  }

  .box-table {
    max-height: 100vh;
    overflow-y: auto;

    table {
      min-width: calc(100vw - 60px);
      overflow-y: auto;
    }
  }
}