$blue: #351C57;

.ksql-properties {
  position: relative;
  width: 100%;
  background: white;
  table{
    max-width: 500px;
  }

  table,
  thead,
  tbody,
  tr {
    width: 100%;
    border-collapse: collapse;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  th {
    padding: 8px;
    position: sticky;
    top: 0;
    background-color: $blue;
    z-index: 1;
    width: 100%;
    color: white;
  }

  .box-table {
    max-height: 100vh;
    overflow-y: auto;
  }
}