@import '@/styles/globals.scss';

.ksql-container {
  min-height: 100vh;
  font-family: sans-serif;
  max-width: calc(100vw - 68px);
  color: var(--text-color-black);

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  thead {
    th {
      background-color: var(--bg-card);
    }

  }

  th {
    color: var(--text-color-black) !important;
    border: none !important;

  }

  tbody {
    background-color: var(--bg-card);
    border: none !important;

    td {
      color: var(--text-color-black);
      border: none !important;
    }

    tr:nth-of-type(odd) {
      background-color: var(--bg-color-selected) !important;
    }
  }

  .card {
    background: var(--bg-card);
    color: var(--text-color-black);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;

    .info-row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .label {
        font-weight: 500;
        color: var(--text-color-black);
        margin-right: 10px;
      }

      .value {
        color: var(--text-color-black);
        word-break: break-word;

        &.running {
          font-weight: bold;
          color: #16a34a;
        }

        &.stopped {
          font-weight: bold;
          color: #dc2626;
        }
      }
    }
  }
}